
body {
 
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #0b1f30;
  color:#fff3c1;
  text-align: center;
  font-family: var(--uzura);
}

@font-face {
  font-family: "uzura_font";
  src: url("uzurafont100/uzurafont100.woff2") format("woff2");
    font-weight: 100;
    font-display: swap;
}
:root {
  --uzura: "uzura_font";
}

header {
  background-color: #006994;
  color: white;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 60px;
}

.card {
  background: #9d9264;
  border-left: 300px ;
  padding-left: 300px;
  padding: 15px;
  right: 300px;
  left: 300px;
  width: 500px;
  margin: 15px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

footer {
  text-align: center;
  background-color: #ddd;
  padding: 15px;
}

/* モバイル対応 */
@media screen and (max-width: 600px) {
  nav a {
    display: block;
    margin: 5px 0;
  }

  .card {
    font-size: 14px;
  }
}
